#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #b8d839;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(11, 0, 0, 0.1);
    border-radius: 10px;
}

.nav-bottom {
    position: relative; /* This allows the underline slider to position itself relative to nav-bottom */
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 2em;
    border-radius: 10px;
    text-underline-offset: none;
}

.contact-info, .navbar-links, .additional-links, .contact-links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.contact-link, .navbar-link {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.nav-bottom .navbar-c {
    text-decoration: none;
    color: black;
}

.nav-bottom .navbar-c:hover {
    text-decoration: none;
    color: black;
}

.nav-bottom .underline-slider {
    position: absolute;
    bottom: 0; /* Positioned at the bottom of the nav-bottom container */
    height: 4px;
    background-color: grey;
    transition: left 0.3s ease, width 0.3s ease;
}

.navbar-item {
    position: relative;
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown.show {
    display: block;
}

.dropdown-item {
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    color: black;
    white-space: nowrap;
}

.dropdown-item:hover {
    background-color: #ddd;
}
