.admit-card-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: #d3ddd2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
}

.header h1 {
    text-align: center;
    font-size: 24px;
}

.form-section {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group .input-container {
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.577);
    overflow: hidden;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.required {
    color: red;
    font-weight: bold;
}

button {
    width: 50%;
    padding: 10px; /* Adjusted padding */
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px; /* Adjusted font size */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-section {
    margin-top: 20px;
    text-align: center;
}

.info-section p {
    font-size: 21px;
    font-weight: bold;
}
